In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# list the worksheets in the excel file
pd.ExcelFile('data/generation_monthly.xlsx').sheet_names

['2001_2002_FINAL',
 '2003_2004_FINAL',
 '2005-2007_FINAL',
 '2008-2009_FINAL',
 '2010-2011_FINAL',
 '2012_Final',
 '2013_Final',
 '2014_Final',
 '2015_Final',
 '2016_Final',
 '2017_Final',
 '2018_Final',
 '2019_Final',
 '2020_Final',
 '2021_Final',
 '2022_Final']

In [95]:
_2001_2002 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2001_2002_FINAL')
_2003_2004 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2003_2004_FINAL')
_2005_2007 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2005-2007_FINAL')
_2008_2009 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2008-2009_FINAL')
_2010_2011 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2010-2011_FINAL')
_2012 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2012_Final')
_2013 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2013_Final')
_2014 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2014_Final')
_2015 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2015_Final')
_2016 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2016_Final')
_2017 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2017_Final')
_2018 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2018_Final')
_2019 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2019_Final')
_2020 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2020_Final')
_2021 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2021_Final')
_2022 = pd.read_excel('data/generation_monthly.xlsx', index_col=0, sheet_name='2022_Final')

In [96]:
# concatenate all the dataframes but filter for DC
df = pd.concat([_2001_2002, _2003_2004, _2005_2007, _2008_2009, _2010_2011, _2012, _2013, _2014, _2015, _2016, _2017, _2018, _2019, _2020, _2021, _2022])

In [46]:
df.columns

Index(['MONTH', 'STATE', 'TYPE OF PRODUCER', 'ENERGY SOURCE',
       'GENERATION (Megawatthours)', 'GENERATION\n(Megawatthours)'],
      dtype='object')

In [97]:
# filter for DC
df = df[df['STATE'] == 'DC']
# Fill NaN values in column1 with values from column2
df['GENERATION (Megawatthours)'].fillna(df['GENERATION\n(Megawatthours)'], inplace=True)
# drop column2
df.drop(['GENERATION\n(Megawatthours)'], axis=1, inplace=True)

In [14]:
df

,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
YEAR,,,,,
2001,1,DC,Total Electric Power Industry,Petroleum,9251.0
2001,1,DC,"Electric Generators, Independent Power Producers",Petroleum,9251.0
2001,2,DC,Total Electric Power Industry,Petroleum,0.0
2001,2,DC,"Electric Generators, Independent Power Producers",Petroleum,0.0
2001,3,DC,Total Electric Power Industry,Petroleum,0.0
...,...,...,...,...,...
2022,12,DC,"Combined Heat and Power, Commercial Power",Natural Gas,5365.0
2022,12,DC,"Combined Heat and Power, Commercial Power",Petroleum,4.0
2022,12,DC,"Combined Heat and Power, Commercial Power",Other Biomass,4840.0
2022,12,DC,"Electric Generators, Independent Power Producers",Solar Thermal and Photovoltaic,1182.0
2022,12,DC,"Electric Generators, Electric Utilities",Solar Thermal and Photovoltaic,17.0

In [98]:
# delete all the rows with Total in "energy source" column
df = df[df['ENERGY SOURCE'] != 'Total']

In [99]:
# delete total electric power industry rows
df = df[df['TYPE OF PRODUCER'] != 'Total Electric Power Industry']

In [100]:
df[-12:-1]

,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
YEAR,,,,,
2022,10,DC,"Electric Generators, Independent Power Producers",Solar Thermal and Photovoltaic,1842.0
2022,10,DC,"Electric Generators, Electric Utilities",Solar Thermal and Photovoltaic,27.0
2022,11,DC,"Combined Heat and Power, Commercial Power",Natural Gas,5243.0
2022,11,DC,"Combined Heat and Power, Commercial Power",Petroleum,1.0
2022,11,DC,"Combined Heat and Power, Commercial Power",Other Biomass,4775.0
2022,11,DC,"Electric Generators, Independent Power Producers",Solar Thermal and Photovoltaic,1257.0
2022,11,DC,"Electric Generators, Electric Utilities",Solar Thermal and Photovoltaic,19.0
2022,12,DC,"Combined Heat and Power, Commercial Power",Natural Gas,5365.0
2022,12,DC,"Combined Heat and Power, Commercial Power",Petroleum,4.0
2022,12,DC,"Combined Heat and Power, Commercial Power",Other Biomass,4840.0
2022,12,DC,"Electric Generators, Independent Power Producers",Solar Thermal and Photovoltaic,1182.0

In [115]:
# Assuming your DataFrame is named 'df'
# Pivot the DataFrame to have 'Type of Producer' as columns
type_of_producer_df = df.pivot_table(index=['YEAR', 'MONTH'], columns='TYPE OF PRODUCER', values='GENERATION (Megawatthours)', aggfunc=lambda x: 0 if pd.isnull(x).all() else x).fillna(0)

# Pivot the DataFrame to have 'Energy Source' as columns
energy_source_df = df.pivot_table(index=['YEAR', 'MONTH'], columns='ENERGY SOURCE', values='GENERATION (Megawatthours)', aggfunc=lambda x: 0 if pd.isnull(x).all() else 1).fillna(0)

# Merge the two DataFrames on the index
result_df = pd.merge(type_of_producer_df, energy_source_df, left_index=True, right_index=True)

# Reset index to make 'YEAR' and 'MONTH' regular columns
result_df.reset_index(inplace=True)

# Display the result
print(result_df)

     YEAR  MONTH Combined Heat and Power, Commercial Power  \
0    2001      1                                         0
1    2001      2                                         0
2    2001      3                                         0
3    2001      4                                         0
4    2001      5                                         0
..    ...    ...                                       ...
259  2022      8                     [7409.0, 1.0, 4330.0]
260  2022      9                     [6231.0, 1.0, 4359.0]
261  2022     10                     [5471.0, 1.0, 4817.0]
262  2022     11                     [5243.0, 1.0, 4775.0]
263  2022     12                     [5365.0, 4.0, 4840.0]

    Combined Heat and Power, Electric Power  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
259                                       0
260                                       0
261                                       0
262                                       0
263                                       0

     Electric Generators, Electric Utilities  \
0                                        0.0
1                                        0.0
2                                        0.0
3                                        0.0
4                                        0.0
..                                       ...
259                                     31.0
260                                     28.0
261                                     27.0
262                                     19.0
263                                     17.0

     Electric Generators, Independent Power Producers  Natural Gas  \
0                                              9251.0          0.0
1                                                 0.0          0.0
2                                                 0.0          0.0
3                                               766.0          0.0
4                                              5921.0          0.0
..                                                ...          ...
259                                            2080.0          1.0
260                                            1881.0          1.0
261                                            1842.0          1.0
262                                            1257.0          1.0
263                                            1182.0          1.0

     Other Biomass  Petroleum  Solar Thermal and Photovoltaic
0              0.0        1.0                             0.0
1              0.0        1.0                             0.0
2              0.0        1.0                             0.0
3              0.0        1.0                             0.0
4              0.0        1.0                             0.0
..             ...        ...                             ...
259            1.0        1.0                             1.0
260            1.0        1.0                             1.0
261            1.0        1.0                             1.0
262            1.0        1.0                             1.0
263            1.0        1.0                             1.0

[264 rows x 10 columns]

In [135]:
# Assuming your DataFrame is named 'df'
# Pivot the DataFrame to have 'Type of Producer' as columns
type_of_producer_df = df.pivot_table(index=['YEAR', 'MONTH'], columns='TYPE OF PRODUCER', values='GENERATION (Megawatthours)', aggfunc=lambda x: 0 if pd.isnull(x).all() else sum(x) if isinstance(x, list) else x).fillna(0)

# Pivot the DataFrame to have 'Energy Source' as columns
energy_source_df = df.pivot_table(index=['YEAR', 'MONTH'], columns='ENERGY SOURCE', values='GENERATION (Megawatthours)', aggfunc=lambda x: 0 if pd.isnull(x).all() else sum(x) if isinstance(x, list) else x).fillna(0)

# Merge the two DataFrames on the index
result_df = pd.merge(type_of_producer_df, energy_source_df, left_index=True, right_index=True)

# Reset index to make 'YEAR' and 'MONTH' regular columns
result_df.reset_index(inplace=True)

# Display the result
print(result_df)

     YEAR  MONTH Combined Heat and Power, Commercial Power  \
0    2001      1                                         0
1    2001      2                                         0
2    2001      3                                         0
3    2001      4                                         0
4    2001      5                                         0
..    ...    ...                                       ...
259  2022      8                     [7409.0, 1.0, 4330.0]
260  2022      9                     [6231.0, 1.0, 4359.0]
261  2022     10                     [5471.0, 1.0, 4817.0]
262  2022     11                     [5243.0, 1.0, 4775.0]
263  2022     12                     [5365.0, 4.0, 4840.0]

    Combined Heat and Power, Electric Power  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
259                                       0
260                                       0
261                                       0
262                                       0
263                                       0

     Electric Generators, Electric Utilities  \
0                                        0.0
1                                        0.0
2                                        0.0
3                                        0.0
4                                        0.0
..                                       ...
259                                     31.0
260                                     28.0
261                                     27.0
262                                     19.0
263                                     17.0

     Electric Generators, Independent Power Producers Natural Gas  \
0                                              9251.0           0
1                                                 0.0           0
2                                                 0.0           0
3                                               766.0           0
4                                              5921.0           0
..                                                ...         ...
259                                            2080.0      7409.0
260                                            1881.0      6231.0
261                                            1842.0      5471.0
262                                            1257.0      5243.0
263                                            1182.0      5365.0

     Other Biomass Petroleum Solar Thermal and Photovoltaic
0              0.0    9251.0                              0
1              0.0       0.0                              0
2              0.0       0.0                              0
3              0.0     766.0                              0
4              0.0    5921.0                              0
..             ...       ...                            ...
259         4330.0       1.0                 [2080.0, 31.0]
260         4359.0       1.0                 [1881.0, 28.0]
261         4817.0       1.0                 [1842.0, 27.0]
262         4775.0       1.0                 [1257.0, 19.0]
263         4840.0       4.0                 [1182.0, 17.0]

[264 rows x 10 columns]

In [136]:
result_df[-12:-1]

,YEAR,MONTH,"Combined Heat and Power, Commercial Power","Combined Heat and Power, Electric Power","Electric Generators, Electric Utilities","Electric Generators, Independent Power Producers",Natural Gas,Other Biomass,Petroleum,Solar Thermal and Photovoltaic
252,2022,1,"[5493.0, 2.0, 5176.0]",0,21.0,1268.0,5493.0,5176.0,2.0,"[1268.0, 21.0]"
253,2022,2,"[4724.0, 1.0, 4411.0]",0,23.0,1428.0,4724.0,4411.0,1.0,"[1428.0, 23.0]"
254,2022,3,"[8707.0, 3.0, 5532.0]",0,30.0,1837.0,8707.0,5532.0,3.0,"[1837.0, 30.0]"
255,2022,4,"[7972.0, 1.0, 5047.0]",0,35.0,2123.0,7972.0,5047.0,1.0,"[2123.0, 35.0]"
256,2022,5,"[9651.0, 1.0, 5107.0]",0,35.0,2392.0,9651.0,5107.0,1.0,"[2392.0, 35.0]"
257,2022,6,"[6655.0, 1.0, 4806.0]",0,35.0,2400.0,6655.0,4806.0,1.0,"[2400.0, 35.0]"
258,2022,7,"[7351.0, 1.0, 4499.0]",0,33.0,2225.0,7351.0,4499.0,1.0,"[2225.0, 33.0]"
259,2022,8,"[7409.0, 1.0, 4330.0]",0,31.0,2080.0,7409.0,4330.0,1.0,"[2080.0, 31.0]"
260,2022,9,"[6231.0, 1.0, 4359.0]",0,28.0,1881.0,6231.0,4359.0,1.0,"[1881.0, 28.0]"
261,2022,10,"[5471.0, 1.0, 4817.0]",0,27.0,1842.0,5471.0,4817.0,1.0,"[1842.0, 27.0]"
262,2022,11,"[5243.0, 1.0, 4775.0]",0,19.0,1257.0,5243.0,4775.0,1.0,"[1257.0, 19.0]"

In [137]:
# Function to sum arrays or return the original value
def sum_arrays_or_value(x):
    if isinstance(x, (list, np.ndarray)):
        return np.sum(x)
    return x

# Apply the function to each column in the DataFrame
for col in df.columns:
    df[col] = df[col].apply(sum_arrays_or_value)

# Assuming the previous code for merging and resetting index
result_df = pd.merge(type_of_producer_df, energy_source_df, left_index=True, right_index=True)
result_df.reset_index(inplace=True)

In [22]:
import ast

In [138]:
for i in result_df.columns:
    if i == 'YEAR' or i == 'MONTH':
        continue
    else:
        for lists in result_df[i]:
            if isinstance(lists, np.ndarray):
                # substitute lists with sum of lists inside the dataframe
                result_df[i] = result_df[i].apply(sum_arrays_or_value)

In [139]:
result_df[-12:-1]

,YEAR,MONTH,"Combined Heat and Power, Commercial Power","Combined Heat and Power, Electric Power","Electric Generators, Electric Utilities","Electric Generators, Independent Power Producers",Natural Gas,Other Biomass,Petroleum,Solar Thermal and Photovoltaic
252,2022,1,10671.0,0.0,21.0,1268.0,5493.0,5176.0,2.0,1289.0
253,2022,2,9136.0,0.0,23.0,1428.0,4724.0,4411.0,1.0,1451.0
254,2022,3,14242.0,0.0,30.0,1837.0,8707.0,5532.0,3.0,1867.0
255,2022,4,13020.0,0.0,35.0,2123.0,7972.0,5047.0,1.0,2158.0
256,2022,5,14759.0,0.0,35.0,2392.0,9651.0,5107.0,1.0,2427.0
257,2022,6,11462.0,0.0,35.0,2400.0,6655.0,4806.0,1.0,2435.0
258,2022,7,11851.0,0.0,33.0,2225.0,7351.0,4499.0,1.0,2258.0
259,2022,8,11740.0,0.0,31.0,2080.0,7409.0,4330.0,1.0,2111.0
260,2022,9,10591.0,0.0,28.0,1881.0,6231.0,4359.0,1.0,1909.0
261,2022,10,10289.0,0.0,27.0,1842.0,5471.0,4817.0,1.0,1869.0
262,2022,11,10019.0,0.0,19.0,1257.0,5243.0,4775.0,1.0,1276.0

In [132]:
# import the excel file but the index is the 3 row


money_df = pd.read_excel('data/HS861M 2010-.xlsx', index_col=0, skiprows=2)

In [140]:
money_df.columns

Index(['Month', 'State', 'Data Status', 'Thousand Dollars', 'Megawatthours',
       'Count', 'Cents/kWh', 'Thousand Dollars.1', 'Megawatthours.1',
       'Count.1', 'Cents/kWh.1', 'Thousand Dollars.2', 'Megawatthours.2',
       'Count.2', 'Cents/kWh.2', 'Thousand Dollars.3', 'Megawatthours.3',
       'Count.3', 'Cents/kWh.3', 'Thousand Dollars.4', 'Megawatthours.4',
       'Count.4', 'Cents/kWh.4'],
      dtype='object')

In [141]:
result_df.columns

Index(['YEAR', 'MONTH', 'Combined Heat and Power, Commercial Power',
       'Combined Heat and Power, Electric Power',
       'Electric Generators, Electric Utilities',
       'Electric Generators, Independent Power Producers', 'Natural Gas',
       'Other Biomass', 'Petroleum', 'Solar Thermal and Photovoltaic'],
      dtype='object')

In [142]:
# filter for DC state
money_df = money_df[money_df['State'] == 'DC']
money_df

# merge it with result_df on year and month
result_df = pd.merge(result_df, money_df, left_on=['YEAR', 'MONTH'], right_on=['Year', 'Month'])
result_df.columns

# drop Month_x, State_x, Data_Status_x
#result_df.drop(['Month_x', 'State_x', 'Data_Status_x'], axis=1, inplace=True)

# rename Thousand Dollars to Revenue_residential
# rename Thousand Dollars.1 to Revenue_commercial
# rename Thousand Dollars.2 to Revenue_industrial
# rename Thousand Dollars.3 to Revenue_transportation
# rename Thousand Dollars.4 to Revenue_other
# rename Thousand Dollars.5 to Revenue_total
# rename Megawatthours to Sales_residential
# rename Megawatthours.1 to Sales_commercial
# rename Megawatthours.2 to Sales_industrial
# rename Megawatthours.3 to Sales_transportation
# rename Megawatthours.4 to Sales_other
# rename Megawatthours.5 to Sales_total
# rename Count to Customers_residential
# rename Count.1 to Customers_commercial
# rename Count.2 to Customers_industrial
# rename Count.3 to Customers_transportation
# rename Count.4 to Customers_other
# rename Count.5 to Customers_total
# rename Cents/kWh to Price_residential
# rename Cents/kWh.1 to Price_commercial
# rename Cents/kWh.2 to Price_industrial
# rename Cents/kWh.3 to Price_transportation
# rename Cents/kWh.4 to Price_other
# rename Cents/kWh.5 to Price_total

Index(['YEAR', 'MONTH', 'Combined Heat and Power, Commercial Power',
       'Combined Heat and Power, Electric Power',
       'Electric Generators, Electric Utilities',
       'Electric Generators, Independent Power Producers', 'Natural Gas',
       'Other Biomass', 'Petroleum', 'Solar Thermal and Photovoltaic', 'Month',
       'State', 'Data Status', 'Thousand Dollars', 'Megawatthours', 'Count',
       'Cents/kWh', 'Thousand Dollars.1', 'Megawatthours.1', 'Count.1',
       'Cents/kWh.1', 'Thousand Dollars.2', 'Megawatthours.2', 'Count.2',
       'Cents/kWh.2', 'Thousand Dollars.3', 'Megawatthours.3', 'Count.3',
       'Cents/kWh.3', 'Thousand Dollars.4', 'Megawatthours.4', 'Count.4',
       'Cents/kWh.4'],
      dtype='object')

In [143]:
columns_to_rename = ['Thousand Dollars', 'Thousand Dollars.1', 'Thousand Dollars.2', 
                     'Thousand Dollars.3', 'Thousand Dollars.4', 'Thousand Dollars.5', 
                     'Megawatthours', 'Megawatthours.1', 'Megawatthours.2', 'Megawatthours.3', 
                     'Megawatthours.4', 'Megawatthours.5', 'Count', 'Count.1', 'Count.2', 'Count.3', 
                     'Count.4', 'Count.5', 'Cents/kWh', 'Cents/kWh.1', 
                     'Cents/kWh.2', 'Cents/kWh.3', 'Cents/kWh.4', 'Cents/kWh.5']

new_names = ['Revenue_residential', 'Revenue_commercial', 'Revenue_industrial',
                'Revenue_transportation', 'Revenue_other', 'Revenue_total',
                'Sales_residential', 'Sales_commercial', 'Sales_industrial',
                'Sales_transportation', 'Sales_other', 'Sales_total',
                'Customers_residential', 'Customers_commercial', 'Customers_industrial',
                'Customers_transportation', 'Customers_other', 'Customers_total',
                'Price_residential', 'Price_commercial', 'Price_industrial',
                'Price_transportation', 'Price_other', 'Price_total']

result_df.rename(columns=dict(zip(columns_to_rename, new_names)), inplace=True)

In [146]:


# save the dataframe to csv
result_df.to_csv('data/energy_data_cont.csv', index=False)

In [144]:
result_df.columns

Index(['YEAR', 'MONTH', 'Combined Heat and Power, Commercial Power',
       'Combined Heat and Power, Electric Power',
       'Electric Generators, Electric Utilities',
       'Electric Generators, Independent Power Producers', 'Natural Gas',
       'Other Biomass', 'Petroleum', 'Solar Thermal and Photovoltaic', 'Month',
       'State', 'Data Status', 'Revenue_residential', 'Sales_residential',
       'Customers_residential', 'Price_residential', 'Revenue_commercial',
       'Sales_commercial', 'Customers_commercial', 'Price_commercial',
       'Revenue_industrial', 'Sales_industrial', 'Customers_industrial',
       'Price_industrial', 'Revenue_transportation', 'Sales_transportation',
       'Customers_transportation', 'Price_transportation', 'Revenue_other',
       'Sales_other', 'Customers_other', 'Price_other'],
      dtype='object')

In [93]:
energy_data_cont = pd.read_csv('data/energy_data_cont.csv', index_col=0)
energy_data = pd.read_csv('data/energy_data.csv', index_col=0)

energy_data_cont.columns

Index([' Commercial Power;Combined Heat and Power',
       ' Electric Power;Electric Generators',
       ' Electric Utilities;Electric Generators',
       ' Independent Power Producers;Natural Gas;Other Biomass;Petroleum;Solar Thermal and Photovoltaic;Month;State;Data Status;Revenue_residential;Sales_residential;Customers_residential;Price_residential;Revenue_commercial;Sales_commercial;Customers_commercial;Price_commercial;Revenue_industrial;Sales_industrial;Customers_industrial;Price_industrial;Revenue_transportation;Sales_transportation;Customers_transportation;Price_transportation;Revenue_other;Sales_other;Customers_other;Price_other'],
      dtype='object')

In [94]:
# add

In [92]:
energy_data_final

,Commercial Power;Combined Heat and Power,Electric Power;Electric Generators,Electric Utilities;Electric Generators,Independent Power Producers;Natural Gas;Other Biomass;Petroleum;Solar Thermal and Photovoltaic;Month;State;Data Status;Revenue_residential;Sales_residential;Customers_residential;Price_residential;Revenue_commercial;Sales_commercial;Customers_commercial;Price_commercial;Revenue_industrial;Sales_industrial;Customers_industrial;Price_industrial;Revenue_transportation;Sales_transportation;Customers_transportation;Price_transportation;Revenue_other;Sales_other;Customers_other;Price_other,Independent Power Producers;Natural Gas;Other Biomass;Petroleum;Solar Thermal and Photovoltaic;Revenue_residential;Sales_residential;Customers_residential;Price_residential;Revenue_commercial;Sales_commercial;Customers_commercial;Price_commercial;Revenue_industrial;Sales_industrial;Customers_industrial;Price_industrial;Revenue_transportation;Sales_transportation;Customers_transportation;Price_transportation;Revenue_other;Sales_other;Customers_other;Price_other;Revenue_total;Sales_total;Customers_total;Price_total
DATE;Combined Heat and Power,,,,,
2010-01;0.0;0.0;0.0;0.0;0.0;0.0;0.0;0.0;1.0;DC;Final;28778.0;216487.0;227000.0;13.29;96023.0;726996.0;26426.0;13.21;1686.0;19778.0;1.0;8.52;2806.0;24979.0;1.0;11.23;129293.0;988240.0;253428.0;13.08,NaN,NaN,NaN,NaN,NaN
2010-02;0.0;0.0;0.0;0.0;0.0;0.0;0.0;0.0;2.0;DC;Final;24271.0;181006.0;227533.0;13.41;94223.0;682695.0;26427.0;13.8;1295.0;18213.0;1.0;7.11;2521.0;20472.0;1.0;12.31;122310.0;902386.0;253962.0;13.55,NaN,NaN,NaN,NaN,NaN
2010-03;0.0;0.0;0.0;2326.0;0.0;0.0;2326.0;0.0;3.0;DC;Final;19230.0;145410.0;227375.0;13.22;91815.0;669256.0;26471.0;13.72;956.0;18160.0;1.0;5.26;2334.0;25102.0;1.0;9.3;114335.0;857927.0;253848.0;13.33,NaN,NaN,NaN,NaN,NaN
2010-04;0.0;0.0;0.0;805.0;0.0;0.0;805.0;0.0;4.0;DC;Final;15254.0;111085.0;227734.0;13.73;92091.0;677459.0;26477.0;13.59;1266.0;17653.0;1.0;7.17;2172.0;22435.0;1.0;9.68;110784.0;828632.0;254213.0;13.37,NaN,NaN,NaN,NaN,NaN
2010-05;0.0;0.0;0.0;23925.0;0.0;0.0;23925.0;0.0;5.0;DC;Final;18894.0;135005.0;227319.0;14.0;104019.0;794394.0;26441.0;13.09;1722.0;20749.0;1.0;8.3;2796.0;26273.0;1.0;10.64;127432.0;976421.0;253762.0;13.05,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
01/08/2009;0;0;0;1167700;0;0;1167700;0;3313000;22509900;220717;14072;116859;892026;26215;1301;1930;19215;1;10004;3848;29622;1;12099;0;0;0;0;15576700;116596300;246934;13036,0.0,0.0,0.0,NaN,0.0
01/09/2009;0;0;0;0;0;0;0;0;2258700;15267900;221304;14079;94495;716265;26186;13019;1355;16428;1;8025;2905;25400;1;11044;0;0;0;0;12134200;91077200;247492;13032,0.0,0.0,0.0,NaN,0.0
01/10/2009;0;0;0;0;0;0;0;0;1600000;11205700;223070;14028;95205;713254;26278;13035;1475;16566;1;809;3000;24261;1;12037;0;0;0;0;11568100;86613900;249350;13036,0.0,0.0,0.0,NaN,0.0
01/11/2009;0;0;0;0;0;0;0;0;1636900;12596900;224988;12099;87386;670213;26290;13004;1356;18397;1;7037;3077;23579;1;13005;0;0;0;0;10818900;83815800;251280;12091,0.0,0.0,0.0,NaN,0.0
01/12/2009;0;0;0;40600;0;0;40600;0;2328800;17332600;226030;13044;100769;765246;26430;13017;1677;21994;1;7062;3217;26424;1;12017;0;0;0;0;12895100;98699000;252462;13007,0.0,0.0,0.0,NaN,0.0

In [65]:
#saveto csv
energy_data.to_csv('data/energy_data.csv', index=False)

In [9]:
import pandas as pd
import numpy as np

data = pd.read_csv('data/energy_data.csv', sep=';', decimal=',', encoding='ISO-8859-1')

In [10]:
data

,DATE,"Combined Heat and Power, Commercial Power","Combined Heat and Power, Electric Power","Electric Generators, Electric Utilities","Electric Generators, Independent Power Producers",Natural Gas,Other Biomass,Petroleum,Solar Thermal and Photovoltaic,Revenue_residential,...,Revenue_total,Sales_total,Customers_total,Price_total,tavg,tmin,tmax,prcp,wspd,pres
0,01/01/2001,0,0,0,9251,0,0,9251,0,14386.00,...,58609.00,923284,0,6.35,1.9,-2.2,6.0,56.0,12.7,1019.3
1,01/02/2001,0,0,0,0,0,0,0,0,10693.00,...,53724.00,823314,0,6.53,4.9,-0.2,9.9,47.0,15.3,1023.3
2,01/03/2001,0,0,0,0,0,0,0,0,9073.00,...,58504.00,924844,0,6.33,6.6,1.7,11.4,101.0,18.0,1014.2
3,01/04/2001,0,0,0,766,0,0,766,0,7227.00,...,50637.00,807525,0,6.27,14.1,8.2,20.0,43.0,14.4,1019.0
4,01/05/2001,0,0,0,5921,0,0,5921,0,10153.00,...,61807.00,819698,0,7.54,18.8,13.6,23.9,99.0,12.9,1017.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,01/08/2022,11740,0,31,2080,7409,4330,1,2111,37814.13,...,152356.82,989541,335353,15.40,26.4,22.0,31.8,61.6,11.9,1016.5
260,01/09/2022,10591,0,28,1881,6231,4359,1,1909,30764.97,...,129066.29,879775,335844,14.67,22.4,17.7,27.6,57.6,12.7,1016.9
261,01/10/2022,10289,0,27,1842,5471,4817,1,1869,25866.01,...,125372.42,778252,336384,16.11,14.2,9.6,19.5,70.7,13.2,1018.5
262,01/11/2022,10019,0,19,1257,5243,4775,1,1276,26157.90,...,117968.67,765987,336762,15.40,11.3,6.6,16.3,67.3,12.8,1022.1
263,01/12/2022,10209,0,17,1182,5365,4840,4,1199,29838.74,...,125529.81,815302,337489,15.40,4.4,-0.1,9.1,98.2,11.9,1022.2